<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>oh，滤镜</title>
    <link rel="stylesheet" href="https://cssgram-cssgram.netdna-ssl.com/cssgram.min.css">
    <style>
        li {
            display: block;
            width: 300px;
            float: left;
            margin: 6px;
        }
    </style>
</head>

<body>
    <ul>
        <li>
            <div style="text-align: center;margin-block-start: 1em;">
                <img style="width: 220px;" src="/image/yellowduck.png">
            </div>
        </li>
        <li>
            <figure class="_1977">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="aden">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <!-- <li>
            <figure class="amaro">
                <img src="/image/yellowduck.png">
            </figure>
        </li> -->
        <li>
            <figure class="brannan">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="brooklyn">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="clarendon">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="gingham">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="hudson">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="inkwell">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="kelvin">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="lark">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="lofi">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="mayfair">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="moon">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="nashville">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="perpetua">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="reyes">
                <img src="/image/yellowduck.png">
            </figure>
        </li>

        <li>
            <figure class="rise">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="slumber">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="stinson">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="toaster">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="valencia">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="walden">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="willow">
                <img src="/image/yellowduck.png">
            </figure>
        </li>
        <li>
            <figure class="xpro2">
                <img src="/image/yellowduck.png">
            </figure>
        </li>


    </ul>

</body>

</html>