<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>color</title>
    <style>
        .red {
            color: red;
        }
        .blue {
            color: blue;
        }
    </style>
</head>
<body>
    <div class="red blue">这是什么颜色</div>
    <div class="blue red">这是什么颜色</div>
    <div>（以上两个都是蓝色的生效，因为蓝色的样式在红色样式的下面）</div>
</body>
</html>